*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.2);
 }

.container h1{
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-dark);
  margin-bottom: 1rem;
  font-size: 3rem;
  text-align: center;
  background-color: (var);
}
.content{
    font-size: 1.6rem;
  font-weight: 300; 
  
}
.content > * {
    margin: 5px 0;
  }


.content input {
    font-size: 1.6rem;
    font-weight: 300;
    padding: 8px 1rem;
    border: 1px solid #777;
    border-radius: 5px;
    outline: none;
    /* box-shadow: 5px 5px 2.5px 1px; */
    
    
    
  }
  .content input:hover{
    
    background-color: #eee;
  }
  .--form-control {
    font-size: 1.6rem;
    font-weight: 300;
  }
  .--form-control select {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 1rem;
    border: 1px solid #777;
    border-radius: 3px;
  }

  .btn {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 6px 8px;
    margin: 0 5px 0 0;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  .btn:hover {
    transform: translateY(-2px);
  }